<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>World Map</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://d3js.org/topojson.v1.min.js"></script>
  <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
  <script src="{{ url_for('static', filename='worldMap.js') }}" defer></script>
</head>
<body>
  <svg id="worldMap"></svg>
  <div id="sliderContainer">
    <div id="sliderTicks"></div>
    <input type="range" id="yearSlider" min="1946" max="2022" step="1" value="1946">
    <label for="yearSlider">Year: <span id="yearLabel">1946</span></label>
  </div>
  <div class="tooltip" id="tooltip"></div>
</body>
</html>
