body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

svg {
  width: 100%;
  height: calc(100% - 50px); /* Adjust height to leave space for the slider */
}

.tooltip {
  position: absolute;
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  pointer-events: none;
  visibility: hidden;
}

.country {
  stroke: black; /* Keep small black border */
  stroke-width: 0.5px;
}

.country:hover {
  fill: orange;
}

#sliderContainer {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

#sliderTicks {
  position: absolute;
  width: 98.5%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px; /* Adjust as needed to position above the slider */
  display: flex;
  justify-content: space-between; /* Space out the labels */
}



.tick-label {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 100%; /* Position above the ticks */
  font-size: 10px;
  margin-bottom: 30px;
}


input[type="range"] {
  width: 100%;
}


